@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.203), rgba(0, 0, 0, 0.144)),
    url("assets/pexels-evgeny-tchebotarev-4101555.jpg");
  height: 50dvh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}

.hero-image a{
  color: inherit;
}


.nav-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-weight: 700;
}

.logo {
  margin-left: 10px;
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}

.nav-bar li {
  margin: 8px;
}


.lorem-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}

.lorem-list h1 {
  margin-bottom: 10px;
}

.lorem-list ul {
  
  margin: 5px;
  list-style: disc outside none;
  text-align: left;
  padding: 3px;
}
